
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Julius+Sans+One&display=swap'); 

:root {
  --background: #F4F0EC;
  --text: #443C32;
  --blue: #69C;
  --khaki: #B3A394;
  --white: #FFFAF0;
}

#root {
  /* padding: 2rem; */
  /* text-align: center; */
  background: var(--background);
}






/* NAV BAR CSS */

.navbar {
  padding: 0;
  margin: 0;
}
 img.nav-brand {
  width: 15rem;
  height: 10rem;

}
.nav-link {
  font-family: "Julius Sans One";
  color: var(--text);
  margin: 3rem;

}

.line {
  color: var(--khaki)
}