
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Julius+Sans+One&display=swap'); 

:root {
  --background: #F4F0EC;
  --text: #443C32;
  --blue: #69C;
  --khaki: #B3A394;
  --white: #FFFAF0;
}

#root {
  /* padding: 2rem; */
  /* text-align: center; */
  background: var(--background);
  /* background-repeat: no-repeat; */
  flex:1;
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}







/* NAV BAR */

.navbar {
  padding: 0;
  margin: 0;
}
 img.nav-brand {
  width: 15rem;
  height: 10rem;

}
.nav-link {
  font-family: "Julius Sans One";
  color: var(--text);
  margin: 3rem;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--blue);

}

/* .underline {
  position: absolute;
   bottom: 0;
  left: 0; 
  height: 2px;
  width: 0;
  /* background-color: var(--khaki); */
  /* transition: width 0.3s ease-in-out; */


.active {
  width: 100%;
  background: rgba(102, 153, 204, 0.75);
  border-radius: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media (min-width: 0px) and (max-width: 1250px) {
  .nav-link {
    font-size: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  nav li {
    padding-top:10px;
  }
}

/* END NAV BAR  */

/* FOOTER  */

.icon {
/* margin-right: 5rem; */
}

footer {
  /* bottom: 0; */
  background: transparent;
  /* position: fixed; */
  /* left: 0; */
  /* width: 100%; */
  padding: 1rem;
  text-align: center;
  margin-top: auto;
 


}

/* END FOOTER */

/* ABOUT */
.headshot {
  height: 23rem;
  margin: 0;


  
}

.heading {
  color: var(--blue);
  font-family: 'Julius Sans One';
  text-align: center;
  
}

.aboutMe {
  color: var(--text);
  font-family: "Crimson Text";
  margin: 1rem;
  line-height: 120%;
  margin-bottom: 2rem;
  
}
/* END ABOUT */

/* WORK */
.carouselSize {
width: 50rem;
height: 30rem;

}

.workH3{
background: rgba(102, 153, 204, 0.75);
color: var(--text);
border-radius: 10px;
font-family: "Crimson Text";

}
.workP {
  background: rgba(179, 163, 148, 0.75);
  color: var(--white);
  border-radius: 10px;
  font-family: "Crimson Text";

}
/* END WORK */


/* CONTACT */

.contactCard {
  background-color: var(--khaki);
  max-width: 38rem;
  height: 35rem;
  padding: 3rem;
  
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contactBtn {
  color: var(--white);
  background-color: var(--blue);
  border: none;
  width: 14rem;
  height: 4.5rem;
  margin-top: 2rem;

  font-family: "Julius Sans One";
  font-size: 3rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contactBtn:hover {
  background-color: var(--text);
}

.contactLabel {
  font-family: 'Julius Sans One';
  color: var(--white);
  font-size: 1.5rem;
}

.contactInput {
  font-family: "Crimson Text";
  color: var(--text);
  font-size: 1rem;
}
/* END CONTACT  */

/* RESUME */

.resume {

  margin-bottom: 5rem;
}